.toy-list {

    & ul {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
        gap: 10px;

        padding: 10px;
        background-color: var(--clrBase);
        list-style-type: none;

        & li {
            padding: 10px;
            background-color: var(--ff);
        }
    }
}